
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-image: url(/images/lg.jpg);padding:30px;padding-left:100px" class="col-md-4 col-md-offset-4">
    @using (@Html.BeginForm("login", "login"))
    {

        <h1  >&nbsp;&nbsp;&nbsp;&nbsp;User Login</h1>
        <br />
        <div>&nbsp;</div>

       
        @Html.Label("UserName")
        @Html.TextBox("n1", null, new { placeholder = "User Name" })
        <br /> <br />
        <div >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>@Html.Label("Password")    @Html.TextBox("p1", null, new { type = "password", placeholder = "password" })
        <br> <br />
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

        
        @*<label>Category</label><input type="text" id="spec" />*@
        
        <input class="col-md-offset-4" type="submit" value="Login">
    }

</div>
<div style="margin-top:300px"></div>